@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}



.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


.nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: crimson;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    color: rgb(228, 228, 228);
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: bolder;
}

.logo span{
    color: navy;
    font-weight: bolder;
}

.nav-link1{
    display: flex;
    width: 30%;
    justify-content: space-around;

}

.nav-link1 li{
    list-style: none;
}

.nav-link1 a{
    color: rgb(228, 228, 228);
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
}

.nav-link1 a:hover{
    text-decoration: none;
    color: navy;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger  div{
    background-color: rgb(228, 228, 228);
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.burger .line2{
    width: 20px;
}


.home{
    display: flex;
    background: url('../images/home4.jpg') no-repeat center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: crimson;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
    
}

.home .max-width{
    margin: auto;
    
}

.home .home-content .text-1{
    font-size: 30px;
}

.home .home-content .text-2{
    font-size: 60px;
    margin-left: -3px;
    font-weight: 500;
}

.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: dodgerblue;
}

/*.home .home-content .btn{
    font-size: 25px;
    position: relative;
    top: 15px;
    color: crimson;
    border: 1px solid crimson;
    border-radius: 10px;
    padding: 10px 10px;
}

.home .home-content .btn:hover{
    background-color: crimson;
    color: #ffffff;
}*/
section{
    padding: 50px 0;
}
.about{
    font-family: 'Poppins',sans-serif;
    
}

.about .title{
    font-family: 'Ubuntu',sans-serif;
    padding: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    color: crimson;
}

.about .about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.7;
    
}

.about .about-content .img img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    align-items: center;
}

.about .about-content .info .info2{
    font-size: 25px;
    color: darkblue;
    text-align: center;
    
}

.about .about-content .info .info2 span{
    color: crimson;
}

.about .about-content .info .info3{
    font-size: 22px;
    color: darkblue;
    text-align: center;
}

.about .about-content .info .info3 span{
    color: crimson;
}

.about .about-content .info .info4{
    font-size: 22px;
    color: darkblue;
    text-align: center;
}

.about .about-content .info .info5{
    font-size: 22px;
    color: darkblue;
    text-align: center;
}

.skills{
    font-family: 'Poppins',sans-serif;
    background-color: crimson;
    border-radius: 20px;
    line-height: 1.7;
}

.skills .title{
    font-family: 'Ubuntu',sans-serif;
    padding: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    color: darkblue;
}


.skills .skills-content h2{
    color: darkblue;
}


.contact{
    font-family: 'Poppins',sans-serif;
    border-radius: 20px;
    line-height: 1.7;
}

.contact .title{
    font-family: 'Ubuntu',sans-serif;
    padding: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    color: crimson;
}

.contact .contact-content .section-c{
    height: 80px;
    width: 100%;
    text-align: center;
    
    color: crimson;
    word-spacing: 2px;
    font-size: 20px;
    font-size: 25px;
}

@media screen and (max-width: 1024px){
    .nav-link1{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }
    
    .nav-link1 {
        position: absolute;
        right : 0px;
        top: 8vh;
        height: 92vh;
        background-color: crimson;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-link1 li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

    
}



.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
